<body><br><br>
  <h1 class="center"><b>Alumni Registration Form</b></h1><br><br>
  <div class="cards border-dark">
    
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate card-title"><b>DEGREE DETAILS</b></h2>
        </div>
    </div>
    <div class="card-item hello">
        <div class="card-body">
          <h2 class="card-title center"><b>ADDRESS DETAILS</b></h2>
          <!-- <p class="card-text"><img src="./right-arrow.png">
             Lorem <img src="./right-arrow.png">
            </p> -->
              <form [formGroup]="addressForm">
                  
                  <div class="form-row">
                      <div class="form-group col-md-2">
                          <img class="leftslider"routerLink="/degreeform" src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg">
                        </div>
                      <div class="form-group col-md-8">
                          <input type="text" formControlName="address_line_1" class="form-control mb-2" placeholder="Address Line 1" required >
                          <input type="text" formControlName="address_line_1" class="form-control mb-2" placeholder="Address Line 2" required >
                          <input type="text" formControlName="address_line_1" class="form-control mb-2" placeholder="Address Line 3" required >
                          <input type="text" formControlName="city" class="form-control mb-2" placeholder="City" required >
                          <input type="text" formControlName="state" class="form-control mb-2" placeholder="State" required >
                          <input type="text" formControlName="country" class="form-control mb-2" placeholder="Country" required >
                          <input type="text" formControlName="pincode" class="form-control mb-2" placeholder="Postal Code" required >
                           </div>
                          <div class="form-group col-md-2">
                              <img class="rightslider"routerLink="/jobform" (click)="address()" type="button" src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg">
                            </div>
                      </div>
                 </form>
  
  
        </div>
      </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate card-title"><b>JOB DETAILS</b></h2>
        </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate  card-title"><b>PERSONAL DETAILS</b></h2>
       </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate  card-title"><b>SOCIAL PROFILE LINKS</b></h2>
        
      </div>
    </div>
   
  </div>
  <div class="center">
      <button type="button" class="btn btn-warning back" routerLink="/signup">Back</button>
      <button type="button" class="btn btn-warning save" routerLink="/alumni">Save</button>

  </div>
</body>