<navbar></navbar>

<body><br><br>
  <form (ngSubmit)="onSubmit()" [formGroup]="addressForm">

    <div class="container">
      <div class="center"><b>
          <h1>EDIT PROFILE</h1>
        </b><br><br></div>



      <div class="some row">
        <div class="col-lg-1 "></div>
        <div class="col-lg-3 bttns ">
          <div class="row 1">
            <button type="button" routerLink="/editlogin" class=" login btn btn-primary btn-lg btn-block "><span
                class="text">LOGIN DETAILS</span></button>
          </div>
          <div class="row 2">
            <button type="button" routerLink="/editdegree" class=" login btn btn-primary btn-lg btn-block "><span
                class="text">DEGREE DETAILS</span></button>

          </div>
          <div class="row 3">
            <button type="button" class=" login btn btn-primary btn-lg btn-block "><span
                class="text">ADDRESS</span></button>

          </div>
          <div class="row 4">
            <button type="button" routerLink="/editjob" class=" login btn btn-primary btn-lg btn-block "><span
                class="text">JOB DETAILS</span></button>

          </div>
          <div class="row 5">
            <button type="button" routerLink="/editpersonal" class=" login btn btn-primary btn-lg btn-block "> <span
                class="text">PERSONAL DETAILS</span></button>

          </div>
        
        <div class="row 6">
            <button type="button" routerLink="/editjob2" class=" login btn btn-primary btn-lg btn-block "> <span
                class="text">CURRENT JOB</span></button>
           </div>
      </div>
      <div class=col-lg-1></div>
      <div class="col-lg-6 maincard">

          <div class="cards border-dark">


            <div class="card-item hello">
              <div class="card-body col-lg-12">
                <div class="row logindetails">
                  <div class="col-lg-1"></div>
                  <div class="col-lg-10"><b>ADDRESS DETAILS</b></div>
                  <div class="col-lg-1"></div>
                </div>
                <div class="box">
                  <div class="input-group row"><span class="input-group-addon"><i
                        class="fa fa-address-card"></i></span><input class="form-control form-control-mb-2" type="text"
                      formControlName="address_line_1" placeholder="Address Line 1">
                  </div>
                  <div class="input-group row"><span class="input-group-addon"><i
                        class="fa fa-address-card"></i></span><input class="form-control form-control-mb-2" type="text"
                      formControlName="address_line_2" placeholder="Address Line 2">
                  </div>
                  <div class="input-group row"><span class="input-group-addon"><i
                        class="fa fa-address-card"></i></span><input class="form-control form-control-mb-2" type="text"
                      formControlName="address_line_3" placeholder="Address Line 3">
                  </div>
                  <div class="input-group row"><span class="input-group-addon"><i class="fa fa-globe"></i></span><input
                      class="form-control form-control-mb-2" type="text" formControlName="country"
                      placeholder="Country">
                  </div>
                  <div class="input-group row"><span class="input-group-addon"><i class="fa fa-globe"></i></span><input
                      class="form-control form-control-mb-2" type="text" formControlName="state" placeholder="State">
                  </div>
                  <div class="input-group row"><span class="input-group-addon"><i class="fa fa-globe"></i></span><input
                      class="form-control form-control-mb-2" type="text" formControlName="city" placeholder="City">
                  </div>
                  <div class="input-group row"><span class="input-group-addon"><i class="fa fa-globe"></i></span><input
                      class="form-control form-control-mb-2" type="text" formControlName="pincode"
                      placeholder="Postal Code">
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-3 "></div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div class="col-lg-3 h"><button type="button" class=" btn2 btn btn-primary btn-lg "
            rourtLink="/dashboard" (click)="checkSaved()">Home</button></div>
        <div class="col-lg-3 s">
          <button type="button" class=" btn2 btn btn-primary btn-lg" (click)="postAddress()">Save</button></div>
        <div class="col-lg-3"></div>
      </div>
    </div>

    <div class="col-lg-3"></div>
  </form>
</body>