<body><br><br>
  <h1 class="center"><b>EDIT PROFILE</b></h1><br><br>
  <div class="some row">
    <div class="col-lg-1"></div>
    <div class="col-lg-3">
      <div class="row 1">
          <button type="button" routerLink ="/editlogin" class=" login btn btn-primary btn-lg btn-block "><span class="text">LOGIN DETAILS</span></button>
      </div>
      <div class="row 2">
          <button type="button" routerLink="/editdegree" class=" login btn btn-primary btn-lg btn-block "><span class="text">DEGREE DETAILS</span></button>

      </div>
      <div class="row 3">
          <button type="button" class=" login btn btn-primary btn-lg btn-block "><span class="text">ADDRESS</span></button>

      </div>
      <div class="row 4">
          <button type="button" routerLink="/editjob" class=" login btn btn-primary btn-lg btn-block "><span class="text">JOB DETAILS</span></button>

      </div>
      <div class="row 5">
          <button type="button" routerLink="/editpersonal" class=" login btn btn-primary btn-lg btn-block "> <span class="text">PERSONAL DETAILS</span></button>

      </div>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-7">

      <div class="cards border-dark">

  
        <div class="card-item itemclass">
          <div class="card-body">

            <div class="form-row">
              
              <div class="form-group col-md-8">
                <h2 class="card-title center"><b>ADDRESS DETAILS</b></h2>

                <form >
                  <input type="text"  class="form-control mb-2" placeholder="Address Line 1"
                    required>
                  <input type="text" class="form-control mb-2" placeholder="Address Line 2"
                    required>
                    <input type="text"  class="form-control mb-2" placeholder="Address Line 3"
                    required>
                    <input type="text"  class="form-control mb-2" placeholder="Country"
                    required>
                  <input type="text"  class="form-control mb-2"
                    placeholder="State" required>
                    <input type="text" class="form-control mb-2" placeholder="City"
                    required>
                </form>
              </div>
              
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="center">
    <button type="button" class="btn btn-warning back" routerLink=''>Home</button>
    <button type="button" class="btn btn-warning save" >Save</button>

  </div>
</body>