<navbar></navbar>

  <div class="body"><br><br>
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()">

  <h1 class="center"><b>Alumni Registration Form</b></h1><br><br>
  <div class="cards border-dark">

    <div class="cardclass card-item">
      <div class="card-body">
        <div class="parent">
          <div class="child">
            <h5><b>DEGREE DETAILS</b></h5>
          </div>
        </div>
      </div>
    </div>

    <div class="card-item itemclass">
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-2">
            <img class="leftslider" routerLink="/degreeform" src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg">
          </div>
          <div class="form-group col-8">

              <div class="form-row">
                <div class="form-group col-md-12">
                  <h2 class="card-title center pb-5"><b>JOB DETAILS</b></h2>
                </div>
              </div>
              <div class="row" *ngIf="!ask">
                <div class="col-12 center">
                  <h3>Were you placed after completing your degree?</h3>
                </div>
                <div class="mx-auto pt-3">
                  <button class="btn-lg btn-success mx-3" (click)="ask = true">Yes</button>
                  <button class="btn-lg btn-danger mx-3" routerLink="/job2form">No</button>
                </div>
              </div>
              <div *ngIf="ask">
                <div class="form-row">
                  <div class="col-md-2"></div>
                  <div class="form-group col-md-4 center">
                    <div class="form-group">
                      <input type="radio" value="1" formControlName="campus_or_current"  [ngClass]="{ 'is-invalid': submitted && f.campus_or_current.errors }" />
                      <label for="agree-term" class="radio-agree-term">&nbsp;&nbsp;Campus Placed</label>
                      
                    </div>
                    <div *ngIf="submitted && f.campus_or_current.errors" class="invalid-feedback">
                      <div *ngIf="f.campus_or_current.errors.required">Choose either</div>
        
                    </div>
                  </div>
                  <div class="form-group col-md-4 center">
                    <div class="form-group">
                      <input type="radio" value="2" formControlName="campus_or_current" [ngClass]="{ 'is-invalid': submitted && f.campus_or_current.errors }"/>
                      <label for="agree-term" class="radio-agree-term">&nbsp;&nbsp;Off-Campus Placed</label>
                      
                    </div>
                    <div *ngIf="submitted && f.campus_or_current.errors" class="invalid-feedback">
                      <div *ngIf="f.campus_or_current.errors.required">Choose either</div>
        
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">

                    <div class="form-group">
                      <label><img src="https://png.pngtree.com/svg/20151105/7558e2b18b.png" height="20px"
                          width="20px"></label>
                      <input type="text" formControlName="company_name" id="company_name" class="form-control mb-2"
                        placeholder="Company Name" [ngClass]="{ 'is-invalid': submitted && f.company_name.errors }" >
                        <div *ngIf="submitted && f.company_name.errors" class="invalid-feedback">
                          <div *ngIf="f.company_name.errors.required">Company name is required</div>
            
                        </div>
                    </div>
                    <div class="form-group">
                      <label><img src="https://cdn2.iconfinder.com/data/icons/accounting-auditors-1/66/56-512.png"
                          height="20px" width="20px"></label>
                      <input type="text" formControlName="designation" id="designation" class="form-control mb-2"
                        placeholder="Designation">
                    </div>
                  </div>
                  <div class="form-group col-md-6">

                    <div class="form-group">
                      <label><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/country-13-557848.png"
                          height="20px" width="20px"></label>
                      <input type="text" formControlName="company_city" id="company_city" class="form-control mb-2"
                        placeholder="City">
                    </div>
                    <div class="form-group">
                      <label><img
                          src="https://cdn4.iconfinder.com/data/icons/contact-and-address-1/32/contact-08-512.png"
                          height="20px" width="20px"></label>
                      <input type="text" formControlName="website" id="website" class="form-control mb-2"
                        placeholder="Website">
                    </div>
                  </div>
                </div>
              </div>
          </div>
          <div class="form-group col-2">
            <img class="rightslider" (click)="checkSaved()" src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg">
          </div>
        </div>
      </div>
    </div>
    <div class="cardclass card-item">
      <div class="card-body">
        <div class="parent">
          <div class="child">
            <h5><b>ADDRESS DETAILS</b></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cardclass card-item">
      <div class="card-body">
        <div class="parent">
          <div class="child">
            <h5><b>PERSONAL DETAILS</b></h5>
          </div>
        </div>
      </div>
    </div>
    <div class="cardclass card-item">
      <div class="card-body">
        <div class="parent">
          <div class="child">
            <h5><b>SOCIAL LINK DETAILS</b></h5>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="center formbutton">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4 mt-3">
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-md-3"></div>
      <div class="col-md-3"> <button type="button" class="btn btn-warning back" routerLink="/dashboard">Home</button>
      </div>
      <div class="col-md-3"> <button type="submit" class="btn btn-warning save" >Save</button>
      </div>
      <div class="col-md-3"></div>


    </div>
  </div>
</form>
</div>