<navbar></navbar>

<body><br><br>
  <h1 class="center"><b>Alumni Registration Form</b></h1><br><br>
  <div class="cards border-dark">

    <div class="cardclass card-item">
        <div class="card-body">
            <div class="parent">
              <div class="child">
                <h5><b>DEGREE DETAILS</b></h5>
              </div>
            </div>
          </div>
        </div>
    <div class="cardclass card-item">
        <div class="card-body">
            <div class="parent">
              <div class="child">
                <h5><b>ADDRESS DETAILS</b></h5>
              </div>
            </div>
          </div>
        </div>
    <div class="cardclass card-item">
        <div class="card-body">
            <div class="parent">
              <div class="child">
                <h5><b>JOB DETAILS</b></h5>
              </div>
            </div>
          </div>
        </div>
    <div class="cardclass card-item">
        <div class="card-body">
            <div class="parent">
              <div class="child">
                <h5><b>PERSONAL DETAILS</b></h5>
              </div>
            </div>
          </div>
        </div>
    <div class="card-item itemclass">
      <div class="card-body">

        <div class="form-row">
          <div class="form-group col-2">
            <img class="leftslider" routerLink="/personalform"
              src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg">
          </div>
          <div class="form-group col-8">
            <h2 class="card-title center"><b>SOCIAL LINKS DETAILS</b></h2>

            <form [formGroup]="sociallinkForm">
              <div class="form-group">
                <label><img src="https://image.flaticon.com/icons/png/512/33/33702.png" height="20px"
                    width="20px"></label>
                    <input type="text" formControlName="facebook" class="form-control mb-2" placeholder="Facebook">

              </div>
              <div class="form-group">
                <label><img src="https://image.flaticon.com/icons/png/512/61/61109.png" height="20px"
                    width="20px"></label>
                    <input type="text" formControlName="linkedin" class="form-control mb-2" placeholder="Linked In" required>

              </div>
              <div class="form-group">
                <label><img src="https://image.flaticon.com/icons/png/512/60/60580.png" height="20px"
                    width="20px"></label>
                    <input type="text" formControlName="twitter" class="form-control mb-2" placeholder="Twitter">

              </div>
            </form>
          </div>
          <div class="form-group col-md-2">
            <!-- <img class="leftslider"routerLink="/degreeform" src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg"> -->
          </div>

        </div>
      </div>
    </div>

  </div>
  
  <div class="center formbutton">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"> <button type="button" class="btn btn-warning back" routerLink="/signup">Back</button>
        </div>
        <div class="col-md-3"> <button type="button" class="btn btn-warning save" disable>Save</button>
        </div>
        <div class="col-md-3"></div>
  
  
      </div>
    </div>
  </body>