<body><br><br>
  <h1 class="center"><b>Alumni Registration Form</b></h1><br><br>
  <div class="cards border-dark">
    <div class="card-item hello">
      <div class="card-body">
        <h2 class="card-title center"><b>DEGREE DETAILS</b></h2>
      
            <form [formGroup]="alumniportalForm">
                <div class="form-row">
                    <div class="col">
                <img class="leftslider" src="">
              </div>
                    <div class="col-8 align">
                        <div class="form-control">
                            <label for="your_name"><i class="fa fa-user"></i></label>
                            <input type="text" name="your_name" id="your_name" class="form-control" placeholder="Your Name"/>
                        </div>
                      <!-- <label><i class="fa fa-hourglass"></i></label><input type="text" formControlName="batch" class="form-control mb-2" placeholder="Batch" required >
                        <input type="text" formControlName="school" class="form-control mb-2" placeholder="School" required >
                        <input type="text" formControlName="programme" class="form-control mb-2" placeholder="Progamme" required >
                        <input type="text" formControlName="specialization" class="form-control mb-2" placeholder="Specialization" required > -->
                        </div>
                        <div class="col">
                            <img class="rightslider" routerLink="/addressform" src="https://png.pngtree.com/svg/20170717/9a1d5ffc8b.svg">
                          </div>
                    </div>

               </form>


      </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate card-title"><b>ADDRESS DETAILS</b></h2>
        </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate card-title"><b>JOB DETAILS</b></h2>
        </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate  card-title"><b>PERSONAL DETAILS</b></h2>
       </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate  card-title"><b>SOCIAL PROFILE LINKS</b></h2>
        
      </div>
    </div>
   
  </div>
  <div class="center">
      <button type="button" class="btn btn-warning back" routerLink="/signup">Back</button>
      <button type="button" class="btn btn-warning save" routerLink="/alumni">Save</button>

  </div>

</body>