<h1 class="text-center">Angular 7 CRUD Demo App</h1>
<h3 class="text-center" *ngIf="articleIdToUpdate; else create">
  <!-- Update Article for Id: {{articleIdToUpdate}} -->
</h3>
<ng-template #create>
  <h3 class="text-center"> Create New Article </h3>
</ng-template>
<div>
  <form [formGroup]="articleForm" (ngSubmit)="onArticleFormSubmit()">
    <table class="table-striped" style="margin:0 auto;">
      <tr>
        <td>Enter Name</td>
        <td><input formControlName="name">
          <label *ngIf="articleForm.get('name').invalid && processValidation" [ngClass]="'error'"> Name is required.
          </label>
        </td>
      </tr>
      <tr>
        <td>Enter Age</td>
        <td><input formControlName="age">
          <label *ngIf="articleForm.get('age').invalid && processValidation" [ngClass]="'error'">Age is
            required. </label>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-default" *ngIf="!articleIdToUpdate">CREATE</button>
          <button class="btn btn-default" *ngIf="articleIdToUpdate">UPDATE</button>
          <button (click)="backToCreateArticle()" *ngIf="articleIdToUpdate">Go Back</button>
        </td>
      </tr>
    </table>
  </form>
  <br />
  <div class="text-center" *ngIf="statusCode; else processing">
    <div *ngIf="statusCode === 201" [ngClass]="'success'">
      Article added successfully.
    </div>
    <div *ngIf="statusCode === 409" [ngClass]="'success'">
      Article already exists.
    </div>
    <div *ngIf="statusCode === 200" [ngClass]="'success'">
      Article updated successfully.
    </div>
    <div *ngIf="statusCode === 204" [ngClass]="'success'">
      Article deleted successfully.
    </div>
    <div *ngIf="statusCode === 500" [ngClass]="'error'">
      Internal Server Error.
    </div>
  </div>
  <ng-template #processing>
    <!-- <img *ngIf="requestProcessing" src="assets/images/loading.gif"> -->
  </ng-template>
</div>
<h3 class="text-center">Article List</h3>
<div *ngFor='let test of allTest'>
  <p>{{ test }}</p>
</div>
<table class="table-striped" style="margin:0 auto;" *ngIf="allArticles">
  <tr>
    <th> Id</th>
    <th>Name</th>
    <th>Age</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let article of allArticles">
    <td>{{article.id}}</td>
    <td>{{article.name}}</td>
    <td>{{article.age}}</td>
    <td><button class="btn btn-default" type="button" (click)="loadArticleToEdit(article.id)">Edit</button> </td>
    <td><button class="btn btn-default" type="button" (click)="deleteArticle(article.id)">Delete</button></td>
  </tr>
</table> -->
