<div class=" container card mb-3 pt-3" style="max-width: 1300px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/da820d61863103.5a7c4129626dd.png" class="card-img">
      <p class="card-text" routerLink="/signup"><small class="text-muted">Create your account</small></p>

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>Alumni Login</b></h5><br> <br>
         <form class="form-signin">
                <input type="text" class="form-control mb-2" placeholder="Email" required autofocus>
                <input type="password" class="form-control mb-2" placeholder="Password" required>
                <label class="checkbox ">
                  <input type="checkbox" value="remember-me">
                  Remember me
                </label>
                <button class="btn btn-lg btn-primary btn-block mb-1" type="submit">Sign in</button>
               <br>
                <a routerLink="/forgotpage">Forgot Username/Password?</a>
              </form>
      </div>
    </div>
  </div>
</div>