.label-agree-term {
    position: relative;
    font-size: 20px;
    top: 0%;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0); }
  
    
.agree-term {
    display: inline-block;
    word-break: break-all;
    font-size: 20px;

    width: auto; }