<navbar></navbar>
<body><br><br>

  <div class="container">
    <div class="center"><b>
        <h1>EDIT PROFILE</h1>
      </b><br><br></div>



    <div class="some row">
      <div class="col-lg-1 "></div>
      <div class="col-lg-3 bttns ">
        <div class="row 1">
          <button type="button" class=" login btn btn-primary btn-lg btn-block "><span class="text">LOGIN
              DETAILS</span></button>
        </div>
        <div class="row 2">
          <button type="button"routerLink="/editdegree" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">DEGREE DETAILS</span></button>

        </div>
        <div class="row 3">
          <button type="button" routerLink="/editaddress" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">ADDRESS</span></button>

        </div>
        <div class="row 4">
          <button type="button" routerLink="/editjob" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">JOB DETAILS</span></button>

        </div>
        <div class="row 5">
          <button type="button" routerLink="/editpersonal" class=" login btn btn-primary btn-lg btn-block "> <span
              class="text">PERSONAL DETAILS</span></button>

        </div>
      </div>
      <div class=col-lg-1></div>
      <div class="col-lg-6 maincard">

        <div class="cards border-dark">


          <div class="card-item hello">
            <div class="card-body col-lg-12">
              <div class="row logindetails">
                <div class="col-lg-1"></div>
                <div class="col-lg-10"><b>LOGIN DETAILS</b></div>
                <div class="col-lg-1"></div>
              </div>
              <form class="box" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control form-control-mb-2" type="text" formControlName="password" placeholder="Old password">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control form-control-mb-2" type="text" formControlName="newpassword" placeholder="New password">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-user"></i></span><input class="form-control form-control-mb-2" type="text" formControlName="confirmnewpassword" placeholder="Confirm password">
                </div>                
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>


    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3"><button type="button" class=" btn2 btn btn-primary btn-lg">Home</button></div>
      <div class="col-lg-3">
        <button type="submit" class=" btn2 btn btn-primary btn-lg">Save</button></div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</body>