<navbar></navbar>

<body><br><br>

  <div class="container">
    <div class="center"><b>
        <h1>EDIT PROFILE</h1>
      </b><br><br></div>



    <div class="some row">
      <div class="col-lg-1 "></div>
      <div class="col-lg-3 bttns ">
        <div class="row 1">
          <button type="button" routerLink="/editlogin" class=" login btn btn-primary btn-lg btn-block "><span class="text">LOGIN
              DETAILS</span></button>
        </div>
        <div class="row 2">
          <button type="button"  class=" login btn btn-primary btn-lg btn-block "><span
              class="text">DEGREE DETAILS</span></button>

        </div>
        <div class="row 3">
          <button type="button" routerLink="/editjob" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">PLACEMENT DETAILS</span></button>

        </div>
        <div class="row 4">
          <button type="button" routerLink="/editjob2" class=" login btn btn-primary btn-lg btn-block "> <span
              class="text">JOB DETAILS</span></button>
        </div>
        <div class="row 5">
          <button type="button" routerLink="/editaddress" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">ADDRESS </span></button>

        </div>
        
        <div class="row 6">
          <button type="button" routerLink="/editpersonal" class=" login btn btn-primary btn-lg btn-block "> <span
              class="text">PERSONAL DETAILS</span></button>
        </div>
        
      </div>
      <div class=col-lg-1></div>
      <div class="col-lg-6 maincard">

        <div class="cards border-dark">


          <div class="card-item hello">
            <div class="card-body col-lg-12">
              <div class="row logindetails">
                <div class="col-lg-1"></div>
                <div class="col-lg-10"><b>DEGREE DETAILS</b></div>
                <div class="col-lg-1"></div>
              </div>
              <form [formGroup]="degreeForm">
                <div class="input-group row"><span class="input-group-addon"><i
                      class="fa fa-university"></i></span><input formControlName="school_id"
                    class="form-control form-control-mb-2" type="text" placeholder="School">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i
                      class="fa fa-graduation-cap"></i></span><input formControlName="program_id"
                    class="form-control form-control-mb-2" type="text" placeholder="Program">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i
                      class="fa fa-graduation-cap"></i></span><input formControlName="batch_id"
                    class="form-control form-control-mb-2" type="text" placeholder="Batch">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i
                      class="fa fa-graduation-cap"></i></span><input formControlName="stream_id"
                    class="form-control form-control-mb-2" type="text" placeholder="Stream ">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-star"></i></span><input
                    formControlName="specialization_id" class="form-control form-control-mb-2" type="text"
                    placeholder="Specialization">
                </div>
                <div *ngIf="successMessage" class="alert alert-success">
                  {{ successMessage }}
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-lg-3 "></div>
      <div class="col-lg-3 h"><button type="button" class=" btn2 btn btn-primary btn-lg "
          routerLink="/dashboard">Home</button></div>
      <div class="col-lg-3 s">
        <button type="submit" disabled class=" btn2 btn btn-primary btn-lg">Save</button></div>
      <div class="col-lg-3"></div>
    </div>
  </div>
  <div class="col-lg-3"></div>

</body>