<body><br><br>
  <h1 class="center"><b>Alumni Registration Form</b></h1><br><br><br>
  <div class="cards border-dark">
    <div class="card-item hello">
      <div class="card-body">
        <h2 class="card-title center"><b>DEGREE DETAILS</b></h2>
        <!-- <p class="card-text"><img src="./right-arrow.png">
           Lorem <img src="./right-arrow.png">
          </p> -->
          <span><img src="./right-arrow.png"></span>
            <form [formGroup]="alumniportalForm">
                <input type="text" formControlName="batch" class="form-control mb-2" placeholder="Batch" required >
                <input type="text" formControlName="school" class="form-control mb-2" placeholder="School" required >
                <input type="text" formControlName="programme" class="form-control mb-2" placeholder="Progamme" required >
                <input type="text" formControlName="specialization" class="form-control mb-2" placeholder="Specialization" required >
               
               </form>


             <span routerLink="/forgotpage"><img src="./right-arrow.png"></span>
      </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate card-title"><b>ADDRESS DETAILS</b></h2>
        </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate card-title"><b>JOB DETAILS</b></h2>
        </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate  card-title"><b>PERSONAL DETAILS</b></h2>
       </div>
    </div>
    <div class="hi card-item">
      <div class="card-body">
        <h2 class="rotate  card-title"><b>SOCIAL PROFILE LINKS</b></h2>
        
      </div>
    </div>
   
  </div>
  <br><br><br>
</body>