
  .main {
    background: #f8f8f8;
    padding: 60px 0; }

  
  .container {
    width: 1100px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
	-ms-border-radius: 20px; }
	
  .right{
	  border-left: 5px solid;
  }

  
	.back {
		background: #36345A;
		color: #fff;
		border-bottom: none;
		min-width: 200px;
		min-height: 50px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		-o-border-radius: 15px;
		-ms-border-radius: 15px;
		margin-top: 20px;
		/* margin-right: 100px; */
		font-size: 20px;
		/* margin-bottom: 40px; */
		cursor: pointer; }

		
	.save {
		background: #36345A;
		color: #fff;
		border-bottom: none;
		min-width: 200px;
		/* margin-bottom: 40px; */
		min-height: 50px;
		border-radius: 15px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		-o-border-radius: 15px;
		-ms-border-radius: 15px;
		margin-top: 20px;
		font-size: 20px;
		cursor: pointer; }

		.center{
			text-align: center;
			font-size: 40px;
		}