<body class="form-v10">
  <div class="page-content">
    <div class="form-v10-content">
      <form class="form-detail" action="#" method="post" id="myform">
        <div class="form-left">
          <h2>FORGOTTEN</h2>
          <div class="form-row">
            <input type="text" name="company" class="company" id="company" placeholder="Your Roll Number" required>
          </div>
          <div class="form-row-last">
              <input type="submit" name="register" class="register" value="BACK">
            </div>

        </div>
        <div class="form-right">
          <h2>PASSWORD</h2>

          <div class="form-row">
            <input type="text" name="additional" class="additional" id="additional" placeholder="Your Email"
              required>
          </div>
          <div class="form-row-last">
            <input type="submit" name="register" class="register" value="SUBMIT">
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
<!-- <div class="form-checkbox">
						<label class="container"><p>I do accept the <a href="#" class="text">Terms and Conditions</a> of your site.</p>
						  	<input type="checkbox" name="checkbox">
						  	<span class="checkmark"></span>
						</label>
					</div> -->