<div class="main">

  <section class="sign-in">
    <div class="container">
      <h2 class="center">FORGOTTEN PASSWORD</h2>
      <div class="signin-content">
        <div class="signin-form">
          <form>
            <div class="form-group">
              <label for="your_name"><i class="fa fa-user"></i></label>
              <input type="text" formControlName="roll_no" id="roll_no" class="form-control mb-2"
                placeholder="Roll number" required  />
            </div>  

            
          </form>
        </div>

        <div class="signin-form">
          <form>
            <div class="form-group">
              <label for="your_name"><i class="fa fa-envelope"></i></label>
              <input type="text" formControlName="roll_no" id="roll_no" class="form-control mb-2"
                placeholder="Email Address" required  />
            </div>  

            
          </form>
        </div>
      </div>
      <div class="center formbutton">
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-3"> <button type="button" class="btn btn-warning back" routerLink="/signup">Back</button>
          </div>
          <div class="col-md-3"> <button type="button" class="btn btn-warning save" disable>Save</button>
          </div>
          <div class="col-md-3"></div>
    
    
        </div>
      </div><br>
    </div>
  </section>
</div>