<navbar></navbar>
<div class=" container card mb-3 pt-3" style="max-width: 1300px;">
  <h1 style="text-align:center">FORGOT USERNAME/PASSWORD?</h1><br><br>
 <div class="row no-gutters">
    <div class="col-md-5">
      <p>Search by Roll Number</p>
      <input type="text" class="form-control mb-2" placeholder="Roll Number" required autofocus>

    </div>
    <div class="col-md-2">
      <div class="vl"></div>
      <p class="v2">OR</p>
      <div class="vl"></div>

    </div>
    
    <div class="col-md-5">
        <p>Search by E-mail</p>
      <input type="text" class="form-control mb-2" placeholder="E-mail" required autofocus>

    </div>
  </div> 
  <div style="text-align:center">
      <button type="button" class="btn btn-warning m-3" routerLink="/alumni">BACK</button>
      <button type="button" class="btn btn-warning">SUBMIT</button>

  </div>

</div>