<div class=" container card mb-3 pt-3" style="max-width: 1300px;">
    <div class="row no-gutters">
      
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><b>Sign Up</b></h5><br> <br>
           <form class="form-signin">
                  <input type="text" class="form-control mb-2" placeholder="Roll  Number" required autofocus>
                  <input type="text" class="form-control mb-2" placeholder="Name" required autofocus>
                  <input type="text" class="form-control mb-2" placeholder="Date of birth" required autofocus>
                  <input type="text" class="form-control mb-2" placeholder="Phone number" required autofocus>
                  <input type="text" class="form-control mb-2" placeholder="Email" required autofocus>
                  <input type="password" class="form-control mb-2" placeholder="Password" required>
                  <input type="password" class="form-control mb-2" placeholder="Confirm Password" required>

                  <label class="checkbox ">
                    <input type="checkbox" value="remember-me">
                    I agree that I am an alumni of The Northcap University
                  </label>
                  <button class="btn btn-lg btn-primary btn-block mb-1" type="submit" routerLink="/registration">Submit</button>
                  </form>
        </div>
      </div>
      <div class="col-md-4">
          <img src="http://ku.90sjimg.com/element_origin_min_pic/18/03/18/edc97d70f986f6967c9135c5bfe96c8d.jpg" class="card-img">
          <p class="card-text" routerLink="/alumni"><small class="text-muted">I am already member</small></p>
    
        </div>

    </div>
  </div>