.uevents{
    height:30px;
    background-color: brown;
    border-radius: 20px;
    margin-top:15px;
    padding:10px;
}
.unews{
    height:30px;
    background-color: brown;
    margin-top:310px;
    border-radius: 20px;

    
}
#head1{
    color:white;
    margin:-6px;
    padding-left:7px;
    padding-top:-8px;
}
#head2{
    color:white;
    margin:-3px;
    padding-left:7px;
    padding-top:4px;
}

.c1{
    margin-top:30px;
    height:50px;

    
}
 .col-lg-2{
    margin-left:10px!important; 
    margin-right: -15px;
    
     
} 
 .c{
    width:230px!important;
    height:50px!important;
} 
.c2{
    background-color: white;
    border-bottom:0px;
    
}
.news{
    border:none;
}
.fa {
    margin-left:940px;
    font-size:25px;
}
.btn {
    text-decoration: none;
    color:brown;
    /* border-radius:40px;
    border: 0.4px solid #EAE6E6;
    background-color: white; */
}
.btn-link{
    font-size:20px;
    font-weight:600;
    
}

.title {
   
      margin-bottom: 50px;
      text-transform: uppercase;
  }
  
.card-block {
      font-size: 1em;
      position: relative;
      
      padding: 1em;
      border: 10px;
      border-top: 1px solid rgba(34, 36, 38, .1);
      box-shadow: none;
      
      
       
  }
.card {
      font-size: 1em;
      overflow: hidden;
      padding: 5;
      border: none;
      border-radius: .28571429rem;
      box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
      margin-top:20px;
      background-color:lightgrey;
      height: 250px;
      width: 100%;
  }
 
  
.abc {
    
    margin: 20px;
    width: 100px;
    color: black;
}
.abc button {
    background-color: yellow;
    
    
    
  }
.d-block {
      height: 200px;
      width: 200px;
      margin-bottom: 20px;
      margin-left: 30px;
      margin-top:20px;
      border-radius: 60%;
      
      
  }