.unews{
    height:30px;
    background-color: brown;
    margin-top:20px;
    border-radius: 20px;
    color:white;
   padding-left:0px;
   padding-right:0px;
   width:100%!important;

    
}
.uevents{
    height:30px;
    background-color: brown;
    border-radius: 20px;
    margin-top:15px;
    width: 99%;
    padding:10px;
    width:100%!important;
}

#head1{
    color:white;
    margin:-6px;
    padding-left:7px;
    padding-top:-8px;
}
#head2{
    color:white;
    margin:-3px;
    padding-left:7px;
    padding-top:4px;
}

.c1{
    margin-top:30px;
    height:50px;
}
 
 .c{
    width:230px!important;
    height:50px!important;
} 
.c2{
    background-color: white;
    border-bottom:0px;
    
}


.btn {
    text-decoration: none;
    color:brown;
}
.lrborder{
   
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    margin-top: 20px;
}



.btn-link{
    font-size:20px;
    font-weight:600;
    
}
.news{
    margin-top:20px;
}
.card{
    border:none;
}
.card-header{
    margin:10px;
    background-color:white;
}
.events{
    margin-top:20px;
}
a.info.accordion-toggle:after {    
    font-family: 'FontAwesome';  
    content: "\f0ab";    
    float: right;        
    color: brown;
    
}
a.info.accordion-toggle[aria-expanded="true"]:after {    
    content: "\f0aa";
   
    
}
/* 
.collapse.show	{
    transform: rotate(180deg);
} */
.tabs{
    margin-top:30px;
}
.info{
    text-decoration: none;
    color:brown;
    font-size:25px;
}
.panel-title{
    margin-bottom:30px;
}
.heading{
font-weight: 700;
font-family: 'Montserrat', sans-serif;
font-size:20px;
}
.inf{
font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.knowmore{
    color:white;
    font-weight:600;
}