<body><br><br>

  <div class="container">
    <div class="center"><b>
        <h1>EDIT PROFILE</h1>
      </b><br><br></div>



    <div class="some row">
      <div class="col-lg-1 "></div>
      <div class="col-lg-3 bttns ">
        <div class="row 1">
          <button type="button" routerLink="/editlogin" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">LOGIN DETAILS</span></button>
        </div>
        <div class="row 2">
          <button type="button" routerLink="/editdegree" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">DEGREE DETAILS</span></button>

        </div>
        <div class="row 3">
          <button type="button" routerLink="/editaddress" class=" login btn btn-primary btn-lg btn-block "><span
              class="text">ADDRESS</span></button>

        </div>
        <div class="row 4">
          <button type="button" class=" login btn btn-primary btn-lg btn-block "><span class="text">JOB
              DETAILS</span></button>

        </div>
        <div class="row 5">
          <button type="button" routerLink="/editpersonal" class=" login btn btn-primary btn-lg btn-block "> <span
              class="text">PERSONAL DETAILS</span></button>

        </div>
      </div>
      <div class=col-lg-1></div>
      <div class="col-lg-6 maincard">

        <div class="cards border-dark">


          <div class="card-item hello">
            <div class="card-body col-lg-12">
              <div class="row logindetails">
                <div class="col-lg-1"></div>
                <div class="col-lg-10"><b>JOB DETAILS</b></div>
                <div class="col-lg-1"></div>
              </div>


              <div class="form-check form-check-inline line1">
                <label class="form-check-label lable1" for="inlineCheckbox1">CampusPlacement</label><input
                  class="form-check-input" type="radio" id="inlineCheckbox1" name="option1">

              </div>
              <div class="form-check form-check-inline line2">
                <label class="form-check-label lable2" for="inlineCheckbox1">Self/CorporateJob</label><input
                  class="form-check-input input2" type="radio" id="inlineCheckbox1" name="option1">
              </div>

              <form class="box">



                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-building"></i></span><input class="form-control form-control-mb-2" type="text" placeholder="Company Name">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-black-tie"></i></span><input class="form-control form-control-mb-2" type="text" placeholder="Designation">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-globe"></i></span><input class="form-control form-control-mb-2" type="text" placeholder="Company City">
                </div>
                <div class="input-group row"><span class="input-group-addon"><i class="fa fa-wifi"></i></span><input class="form-control form-control-mb-2" type="text" placeholder="Website">
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>


    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-3"><button type="button" class=" btn2 btn btn-primary btn-lg">Home</button></div>
      <div class="col-lg-3">
        <button type="button" class=" btn2 btn btn-primary btn-lg">Save</button></div>
      <div class="col-lg-3"></div>
    </div>
  </div>
</body>